@model string

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>Test Post results - WebApiInitialHttpsRequestIssue</title>
    </head>
    <body>
        <div>@Model</div>
    </body>
</html>